.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform 400ms ease-in-out;
}

.carousel__btn {
    all: unset;
    position: absolute;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.carousel__btn:hover,
.carousel__btn:focus-visible {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel__btn--prev {
    left: 0;
}

.carousel__btn--next {
    right: 0;
}

.carousel__btn > * {
    transition: 200ms ease-in-out;
}

.carousel__btn--prev:hover > *,
.carousel__btn--prev:focus-visible > * {
    transform: translateX(-5px);
}

.carousel__btn--next:hover > *,
.carousel__btn--next:focus-visible > * {
    transform: translateX(5px);
}

.carousel__image-btns {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.carousel__image-btn {
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    transition: 100ms ease-in;
}

.carousel__image-btn:hover,
.carousel__image-btn:focus-visible {
    transform: scale(1.25);
} 